body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

/******* Navigation bar *******/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*******           ********/

/******* About Us *********/

h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Bangers', cursive;
    font-style: normal;
    letter-spacing: 0.5rem;
    text-align: center;
    font-size: 50px;
}

.AboutUsInfo {
    background-color: skyblue;
    width: 90%;
    height: 65%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 5%);
    border: 2px solid black;
}

.AboutUsInfo p {
    text-align: center;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
}

.AboutUsInfo h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Bangers', cursive;
    letter-spacing: 1rem;
    text-align: center;
    font-size: 40px;
}

.AboutUsInfo h3 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Bangers', cursive;
    letter-spacing: 1rem;
    text-align: center;
    font-size: 40px;
}

/*******           ********/